.tab {
    overflow: hidden;
    border: 1px solid #141414;
    border-radius: 5px;
    background-color: #FC7E03;
    width: 100%;
    display: flex;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17 px;
    width: 25%;
    color:white;
    flex-grow: 1;
  }
  
  .tab button:hover {
    background-color: #e17306;
  }
  
  .tab button.active {
    background-color: #e17306;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #141414;
    border-top: none;
    animation: fadeEffect 1s;
    clear: both;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}

@media (max-width: 450px) {
  .tab button {
      width: 100%;
  }
}

  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
    max-width: 800px;
    margin: 100px auto 0 auto; 
    padding: 20px;
}

.calculate-button {
  background-color: #FC7E03;
  border: 2px solid black;
  border-radius: 5px;
  color: white; 
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer; 
}

.resultado-label {
  display: block; 
  text-align: center; 
}

.watermark-container {
  position: fixed;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  pointer-events: none;
}

.watermark-image {
  width: 250px;
  height: auto;
}